{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

{% endblock %}

{% block content %}

{% if article.tag == 'center' %}
<div class="container pt-5">
  <div class="row justify-content-md-center">
    <h5><a class="text-reset pl-3" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h5>
  </div>
{% endif %}

{% if article.tag == 'justify' %}
<div class="container pt-5">
  <div class="row">
    <h5><a class="text-reset pl-3" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h5>
  </div>
{% endif %}

{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
  
{% if article.tag == 'center' %}
  <div class="col mt-5 ml-5">
    {{ article.content }}
  </div><!-- /.entry-content -->
{% endif %}

{% if article.tag == 'justify' %}
  <div class="col mt-3">
    {{ article.content }}
  </div><!-- /.entry-content -->
{% endif %}

</div>
{% endblock %}