{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

{% endblock %}

{% block content %}
<div class="container pt-5">
  <div class="row">
    <h5><a class="text-reset pl-3" href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h5>
  </div>
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
  
  <div class="row mt-3">
    {{ article.content }}
  </div><!-- /.entry-content -->

</div>
{% endblock %}